#list{
    display: flex;
    flex-wrap: wrap;
}

.movie-card{
    height: fit-content;
    width: fit-content;
    margin: 20px;
}

form{
    display: flex;
    gap: 20px;
}

button, input, a{
    margin: 0 10px;
}